<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
"-//Oracle Corporation//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>game</servlet-name>
    <servlet-class>game.Server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>game</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rockets</servlet-name>
    <servlet-class>game.RocketServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rockets</servlet-name>
    <url-pattern>/launch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tick</servlet-name>
    <servlet-class>game.TickServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tick</servlet-name>
    <url-pattern>/tick</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/game</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
